<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container md:max-w-lg md:mt-4 mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <form class="form" action="/api/products" method="post">
                <h1 class="mb-8 text-3xl text-center">Agregar un producto</h1>
                Titulo<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="title"
                    required placeholder="Título" />
                Descripcion<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="description" required placeholder="Descripción" />
                Precio<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="price"
                    required placeholder="Precio" />
                Codigo<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="code"
                    required placeholder="Codigo" />
                Stock<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="stock"
                    required placeholder="Stock" />
                Categoria<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="category" required placeholder="Categoría" />
                Thumbnail<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="thumbnail" required placeholder="Imagen" />
                <button type="submit"
                    class="w-full text-center py-3 rounded bg-green text-white bg-green-400 hover:bg-green-600 focus:outline-none my-1">Crear
                    producto</button>
            </form>
        </div>
    </div>
</div>