<form class="form" action="/api/sessions/register" method="post" style="border:1px solid #ccc">

    <label for="email"><b>Nombre</b></label>
    <input type="text" placeholder="Name" name="first_name" required>
    <br>
    <label for="email"><b>Apellido</b></label>
    <input type="text" placeholder="Last name" name="last_name" required>
    <br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>
    <br>
    <label for="email"><b>Edad</b></label>
    <input type="text" placeholder="Enter Age" name="age" required>
    <br>
    <label for="psw"><b>Contraseña</b></label>
    <input type="text" placeholder="Enter Password" name="password" required>
    <br>
    <input type="submit" value="Enviar registro">

</form>


<script src="https://cdn.tailwindcss.com"></script>