<div class="min-h-screen mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="flex text-center">
        <h1 class="text-2xl font-bold mb-4">Crear nueva contraseña</h1>
    </div>
    <form action="/session/reset_password/{{user}}" method="post"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-24">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Nueva contraseña
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" required name="newPassword" placeholder="Ingrese su nueva contraseña">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Confirmar contraseña
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" required name="confirmPassword" placeholder="Confirmar contraseña">
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-gray-600 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Crear nueva contraseña</button>
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                <a href="/">Volver a inicio</a>
            </button>
            <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                <a href="/register">Registro</a>
            </button>
        </div>
    </form>
</div>