<h1>Crear una nueva contraseña</h1>
<hr />
<form action="/session/reset_password/{{user}}" method="post">
    Nueva contraseña: <input type="text" name="newPassword"> <input type="submit" value="Cambiar contraseña"><br><br>
    <a href="/">Login</a> | <a href="/register">Registrarse</a>
</form>