<div
    class="flex mx-auto justify-center">
    {{!-- <div>
        <img class=" m-4 p-2 w-full" src="https://miro.medium.com/v2/resize:fit:679/1*JNuN9iJRiXVpQxRR_Rpqlw.jpeg"
            alt="">
    </div> --}}

    <img class="w-full sm:w-5/6 my-1 p-6" src="https://img.freepik.com/vector-premium/bienvenido-bannes-fondo-azul_155083-252.jpg?w=2000" alt="">

</div>