<div class="flex w-4/5 my-2 h-screen mx-auto justify-center bg-gradient-to-r from-zinc-300 to-gray-900">

    <div class="h-full w-full text-center content-center flex flex-col place-content-center">
        <h1 class="text-2xl lg:text-6xl my-4 mx-auto text-white font-sans">Bienvenidos a la tienda</h1>
        <h2 class="text-1xl lg:text-4xl bg-black text-black font-medium bg-gradient-to-l from-zinc-300 to-gray-900">Para
            continuar, ingrese con su usuario o registrese</h2>
        <div class="p-6">
            <a href="/login"><button
                    class="m-2 md:m-6 p-4 bg-white hover:bg-gray-900 hover:text-white text-black text-bold rounded-full h-12 uppercase font-medium hover:font-bold">Ingresar</button></a>
            <a href="/register">
                <button
                    class="m-2 md:m-6 p-4 bg-white hover:bg-gray-900 hover:text-white text-black text-bold rounded-full h-12 uppercase font-medium hover:font-bold">Registrarse</button>
            </a>
        </div>
    </div>
</div>