<!-- component -->
<div class="mx-auto max-w-xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 h-full sm:h-lvh">
    <div class="">
        <h1 class="my-2 text-gray-800 font-bold text-2xl">
            Error.. "{{error}}"
        </h1>
        <p class="my-2 text-gray-800">Lo siento por eso! Visitá el inicio de la página para encontrar lo
            que estabas buscando! </p>
        <a href="/"><button
                class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">Ir
                a inicio</button>
        </a>
        <button
            class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-red-400 text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50"
            type="button" id="go-back">Volver a la página anterior</button>
    </div>

    <div>
        <img src="https://i.ibb.co/G9DC8S0/404-2.png" />
    </div>

    <div>
        <img src="https://i.ibb.co/ck1SGFJ/Group.png" />
    </div>
</div>

<script>
    document.getElementById("go-back").addEventListener("click", () => {
        history.back();
    });
</script>