<div class="header mb-4 text-center text-black">
    <h1 class="mb-8 text-6xl text-center">Real time products</h1>
</div>

<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 pb-8 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
        <div class="bg-white px-6 py-8 rounded shadow-lg text-black w-full">
            <form class="form" id="formulario">
                <h1 class="mb-8 text-3xl text-center">Agregar un producto</h1>
                Titulo<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="title"
                    id="title" required placeholder="Título" />
                Descripcion<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="description" id="description" required placeholder="Descripción" />
                Precio<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="price"
                    id="price" required placeholder="Precio" />
                Codigo<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="code"
                    id="code" required placeholder="Codigo" />
                Stock<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="stock"
                    required placeholder="Stock" id="stock" />
                Categoria<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="category" id="category" required placeholder="Categoría" />
                Thumbnail<input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="thumbnail" id="thumbnail" required placeholder="Imagen" />
                <button type="submit"
                    class="w-full text-center py-3 rounded bg-green text-white bg-green-400 hover:bg-green-600 focus:outline-none my-1"
                    id="addProduct">Crear
                    producto</button>
            </form>
        </div>
    </div>
    <div class="mx-auto flex justify-center">
        <table class="max-w-lg text-sm text-left rtl:text-right text-gray-900">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr class="border">
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody id="table-body" class="truncate">

            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>